body {
    background-color: rgb(56, 72, 97);
}

.header {
    background-color: #537e94;
    display: flex;
    justify-content: space-between;
    color: #ffffff;
    align-items: center;
    flex-wrap: wrap;
    border-radius: 40px;
}

.logout {
    margin-right: 20px;
}

.header button {
    font-size: 17px;
    padding: 10px;
    border: 1px solid #111111;
    background-color: #111111;
    color: #ffffff;
    border-radius: 4px;

}

.header button:hover {
    background: #cc1616;
}

.dashboard_details {
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #ffffff;
    flex-wrap: wrap;
}

input {
    margin-top: 10px;
    padding: 8px 15px;
    border-radius: 4px;
    font-size: 16px;
    border: 1px solid rgb(219, 219, 219)
}
 
.Add button {
    font-size: 14px;
    padding: 10px;
    border: 1px solid #111111;
    background-color: #111111;
    color: #ffffff;
    border-radius: 4px;
}

.Add button:hover {
    background-color: #cc1616;
}

.dashboard_details img {
    border-radius: 10px;
}