body {
    background-color: rgb(56, 72, 97);
}

.header {
    color: #f0f8ff;
    text-align: center;
    background-color: #537e94;
    width: 50%;
    margin-left: 24%;
    padding: 10px;
    border-radius: 50%;
    box-shadow: 0 5px 10px 0 rgb(0, 0, 0, 1);
    margin-top: 50px;
}

input {
    display: block;
    border: 1px solid #f7f7f7;
    padding: 12px 20px;
    margin-top: 10px;
    margin-bottom: 10px;
}

label {
    color: #f7f7f7;
}

button {
    font-size: 17px;
    padding: 8px 83px;
    margin-top: 30px;
}

.login {
    display: flex;
    flex-direction: column;
    width: 50%;
    background-color: #547e94;
    padding: 20px;
    align-items: center;
    box-shadow: 0 5px 10px 0 rgb(0, 0, 0, 1);
    border-radius: 5%;
}

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #f7f7f7;
}

.NoAccount {
    margin-top: 10px;
}

button:hover {
    background-color: #cc1616;
    color: #f7f7f7;
}