*{
    margin: 0;
}

body {
    background-color: #f4f2f7;
}

.navigation {
    background-color: rgb(218, 52, 52);
    height: 45px;
    padding: 20px;
    font-size: 13pt;
}

ul {
    list-style-type: none;
}

li {
    float: left;
    padding: 18px;
}

a {
    text-decoration: none;
    color: #ffffff;
}

li:last-child {
    float: right;
}

/* Navigation */
table {
    margin-top: 50px;
    text-align: center;
}

#table_header{
    width: 100%;
    font-size: 30px;
    color: #e6cdcd;
    background-color: rgb(43, 114, 96);

}

#catalog_number {
    width: 15%;
}

#product {
    width: 15%;
}

#quantity {
    width: 20%;
}

tbody tr:nth-child(odd){
    background-color: rgb(158, 177, 177);
}

tbody tr:nth-child(even){
    background-color: rgb(143, 156, 192);
}